<div id="content" >
  <div class="container"> 
    <!-- Core Features -->
    <div class="block features">
      <h2 class="title-divider">
        <span>
          <translate>MAIN_CORE_FEATURES_TITLE_1</translate> 
          <span class="de-em" translate>MAIN_CORE_FEATURES_TITLE_2</span>
        </span> <small translate>MAIN_CORE_FEATURES_TITLE_3</small>
      </h2>

      <div class="row">

        <div class="feature col-sm-6 col-md-3"> 
          <img src="img/features/feature-1.png" alt="Feature 1" class="img-responsive" />
          <h3 class="title">
            <a href="#/features">
              <translate>MAIN_CORE_FEATURES_1_TITLE_1</translate> 
              <span class="de-em" translate>MAIN_CORE_FEATURES_1_TITLE_2</span>
            </a>
          </h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </div>

        <div class="feature col-sm-6 col-md-3">
          <img src="img/features/feature-2.png" alt="Feature 2" class="img-responsive" />
          <h3 class="title">
            <a href="#/features">
              <translate>MAIN_CORE_FEATURES_2_TITLE_1</translate> 
              <span class="de-em" translate>MAIN_CORE_FEATURES_2_TITLE_2</span>
            </a>
          </h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </div>

        <div class="feature col-sm-6 col-md-3">
          <img src="img/features/feature-3.png" alt="Feature 3" class="img-responsive" />
          <h3 class="title">
            <a href="#/features">
              <translate>MAIN_CORE_FEATURES_3_TITLE_1</translate> 
              <span class="de-em" translate>MAIN_CORE_FEATURES_3_TITLE_2</span>
            </a>
          </h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </div>

        <div class="feature col-sm-6 col-md-3"> 
          <img src="img/features/feature-4.png" alt="Feature 4" class="img-responsive" />
          <h3 class="title">
            <a href="#/features"><translate>MAIN_CORE_FEATURES_4_TITLE_1</translate> 
              <span class="de-em" translate>MAIN_CORE_FEATURES_4_TITLE_2</span>
            </a>
          </h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </div>

      </div>
    </div>
    
    <!--Pricing Table-->
    <div class="block">
      <h2 class="title-divider"><span><translate>MAIN_PRICING_TITLE_1</translate> <span class="de-em" translate>MAIN_PRICING_TITLE_2</span></span> <small translate>MAIN_PRICING_TITLE_3</small></h2>
      <div class="row pricing-stack">
        <div class="col-md-3">
          <div class="well">
            <h3 class="title">Plan C</h3>
            <p class="price"><span class="currency">$</span> <span class="digits">69<span>.95</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
            <ul class="unstyled points">
              <li>Desc</li>
              <li>Desc</li>
              <li>Desc</li>
              <li>Desc</li>
            </ul>
            <a href="#/pricing" class="btn btn-primary" translate>BUTTON_SEEMORE</a> 
          </div>
        </div>
        <div class="col-md-3">
          <div class="well active">
            <h3 class="title">PBX <span class="fancy">Complete</span></h3>
            <p class="price"><span class="currency">$</span> <span class="digits">49<span>.95</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
            <ul class="unstyled points">
              <li>Desc</li>
              <li>Desc</li>
              <li>Desc</li>
              <li>Desc</li>
            </ul>
            <a href="#/pricing" class="btn btn-primary" translate>BUTTON_SEEMORE</a> 
          </div>
        </div>
        <div class="col-md-3">
          <div class="well active">
            <h3 class="title">E1</h3>
            <p class="price"><span class="currency">$</span> <span class="digits">219<span>.95</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
            <ul class="unstyled points">
              <li>Desc</li>
              <li>Desc</li>
              <li>Desc</li>
              <li>Desc</li>
            </ul>
            <a href="#/pricing" class="btn btn-primary" translate>BUTTON_SEEMORE</a> 
          </div>
        </div>
        <div class="col-md-3">
          <div class="well">
            <h3 class="title">Plan B</h3>
            <p class="price"><span class="currency">$</span> <span class="digits">39<span>.95</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
            <ul class="unstyled points">
              <li>Desc</li>
              <li>Desc</li>
              <li>Desc</li>
              <li>Desc</li>
            </ul>
            <a href="#/pricing" class="btn btn-primary" translate>BUTTON_SEEMORE</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>