<div class="container" data-toggle="clingify">
  <div class="navbar"> 
    
    <!--
  mobile collapse menu button
  - data-toggle="toggle" = default BS menu
  - data-toggle="jpanel-menu" = jPanel Menu
  --> 
    <a class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </a> 
    
    <!--user menu-->
    <div class="btn-group user-menu pull-right">
      <a href="#login-modal" class="btn btn-primary dropdown-toggle login" data-toggle="modal"><translate>NAVBAR_LOGIN</translate></a> 
    </div>
    
    <!-- Collapsed on mobile-->
    <div class="navbar-collapse collapse"> 
      
      <!--main navigation-->
      <ul class="nav" id="main-menu">
        <li class="home-link"><a href="#/main"><i class="icon-home"></i><span class="hidden">Home</span></a></li>
        <li class="dropdown"><a class="dropdown-toggle menu-item" id="features-drop" data-toggle="dropdown"><translate>NAVBAR_FEATURES</translate> +</a> 
          <!-- Dropdown Menu - Mega Menu -->
          <ul class="dropdown-menu mega-menu" role="menu" aria-labelledby="features-drop">
            <li class="mega-menu-wrapper" role="menuitem"> <span class="menu-title" translate>NAVBAR_FEATURES_TITLE</span>
              <ul class="row list-unstyled" role="menu">
                <li class="col-md-4" role="menuitem"> <a href="#/features" class="img-link"><img src="img/features/feature-1.png" alt="Feature 1" /></a> <a href="#/features" tabindex="-1" class="menu-item" translate>NAVBAR_FEATURES_1</a> <span><translate>FILLER_TEXT</translate></span> </li>
                <li class="col-md-4" role="menuitem"> <a href="#/features" class="img-link"><img src="img/features/feature-2.png" alt="Feature 2" /></a> <a href="#/features" tabindex="-1" class="menu-item" translate>NAVBAR_FEATURES_2</a> <span><translate>FILLER_TEXT</translate></span> </li>
                <li class="col-md-4" role="menuitem"> <a href="#/features" class="img-link"><img src="img/features/feature-3.png" alt="Feature 2" /></a> <a href="#/features" tabindex="-1" class="menu-item" translate>NAVBAR_FEATURES_3</a> <span><translate>FILLER_TEXT</translate></span> </li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#/pricing" class="menu-item"><translate>NAVBAR_PRICING</translate></a></li>
        <li><a href="#/customers" class="menu-item"><translate>NAVBAR_CUSTOMERS</translate></a></li>
        <li class="dropdown"> <a class="dropdown-toggle" id="about-drop" data-toggle="dropdown"><translate>NAVBAR_ABOUT</translate> +</a> 
          <!-- Dropdown Menu -->
          <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop">
            <li role="menuitem"><a href="#/about_us" tabindex="-1" class="menu-item" translate>NAVBAR_ABOUT_1</a></li>
            <li role="menuitem"><a href="#/team" tabindex="-1" class="menu-item" translate>NAVBAR_ABOUT_2</a></li>
          </ul>
        </li>
        <li><a href="#/contact_us" class="menu-item" translate>NAVBAR_CONTACTUS</a></li>
      </ul>
    </div>
    <!--/.navbar-collapse --> 
  </div>
</div>