<div class="row pricing-stack">
  <div class="col-md-offset-1 col-md-3">
    <div class="well active">
      <h3 class="title">Plan A</h3>
      <p class="price"><span class="currency">$</span> <span class="digits">24<span>.95</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
      <ul class="unstyled points">
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
      </ul> 
    </div>
  </div>
  <div class="col-md-3">
    <div class="well active">
      <h3 class="title">Plan B</h3>
      <p class="price"><span class="currency">$</span> <span class="digits">39<span>.95</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
      <ul class="unstyled points">
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well active">
      <h3 class="title">Plan C</h3>
      <p class="price"><span class="currency">$</span> <span class="digits">69<span>.95</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
      <ul class="unstyled points">
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
      </ul>
    </div>
  </div>
</div>
<div class="row pricing-stack">
  <div class="col-md-offset-3 col-md-3">
    <div class="well active">
      <h3 class="title">E1/2</h3>
      <p class="price"><span class="currency">$</span> <span class="digits">164<span>.95</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
      <ul class="unstyled points">
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well active">
      <h3 class="title">E1</h3>
      <p class="price"><span class="currency">$</span> <span class="digits">219<span>.95</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
      <ul class="unstyled points">
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
      </ul>
    </div>
  </div>
</div>