<div class="row pricing-stack">
  <div class="col-md-offset-1 col-md-3">
    <div class="well active">
      <h3 class="title">2 Mbps</h3>
      <p class="price"><span class="currency">$</span> <span class="digits">85<span>.00</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
      <ul class="unstyled points">
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
      </ul> 
    </div>
  </div>
  <div class="col-md-3">
    <div class="well active">
      <h3 class="title">4 Mbps</h3>
      <p class="price"><span class="currency">$</span> <span class="digits">170<span>.00</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
      <ul class="unstyled points">
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well active">
      <h3 class="title">6 Mbps</h3>
      <p class="price"><span class="currency">$</span> <span class="digits">240<span>.00</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
      <ul class="unstyled points">
        <li>Desc</li translate>PLANS_PERIOD
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
      </ul>
    </div>
  </div>
</div>
<div class="row pricing-stack">
  <div class="col-md-offset-3 col-md-3">
    <div class="well active">
      <h3 class="title">8 Mbps</h3>
      <p class="price"><span class="currency">$</span> <span class="digits">310<span>.00</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
      <ul class="unstyled points">
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well active">
      <h3 class="title">10 Mbps</h3>
      <p class="price"><span class="currency">$</span> <span class="digits">370<span>.00</span></span> <span class="term" translate>PLANS_PERIOD</span></p>
      <ul class="unstyled points">
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
        <li>Desc</li>
      </ul>
    </div>
  </div>
</div>

<div class="well well-mini">
  <p><small>1</small> Notes/Notas, Notes/Notas, Notes/Notas, Notes/Notas, Notes/Notas</p>
  <p><small>2</small> Notes/Notas, Notes/Notas, Notes/Notas, Notes/Notas, Notes/Notas, Notes/Notas, Notes/Notas</p>
</div>