<div id="highlighted">
  <div class="inner"> 
    <!--Slides-->
    <section class="flexslider-wrapper container">
      <div class="flexslider" data-slidernav="auto" data-transition="slide">
        <div class="slides"> 

          <!--Slide #1-->
          <div class="slide">
            <div class="slide-content">
              <div class="row">
                <div class="col-md-6 col-md-offset-1"><img src="img/slides/slide1.png" alt="Slide 1" data-animate-in="bounceInLeft" data-animate-delay="de-08" /></div>
                <div class="col-md-5 caption">
                  <h2 data-animate-in="bounceInRight">Celero Networking</h2>
                  <p data-animate-in="bounceInRight" data-animate-delay="de-04">
                    <translate>FILLER_TEXT</translate><br/>
                    <translate>FILLER_TEXT</translate><br/>
                    <translate>FILLER_TEXT</translate>
                  </p>
                  <a href="#/about_us" class="btn btn-lg btn-primary" data-animate-in="bounceInRight" data-animate-delay="de-06" translate>BUTTON_SEEMORE</a> </div>
              </div>
            </div>
          </div>

          <!--Slide #2-->
          <div class="slide">
            <div class="slide-content">
              <div class="row">
                <div class="col-md-4 col-md-offset-2"><img src="img/slides/slide2.png" alt="Slide 1" data-animate-in="bounceInLeft" data-animate-delay="de-08" /></div>
                <div class="col-md-6 caption">
                  <h2 data-animate-in="bounceInRight" translate>SLIDE_2_TITLE</h2>
                  <h4 data-animate-in="bounceInRight" data-animate-delay="de-02"><a href="#" translate>SLIDE_2_TITLE_2</a></h4>
                  <p data-animate-in="bounceInRight" data-animate-delay="de-04">
                    <translate>FILLER_TEXT</translate><br/>
                    <translate>FILLER_TEXT</translate>
                  </p>
                  <a href="#/pricing" class="btn btn-lg btn-primary" data-animate-in="bounceInRight" data-animate-delay="de-06" translate>BUTTON_SEEMORE</a> </div>
              </div>
            </div>
          </div>
          
          <!--Slide #3-->
          <div class="slide">
            <div class="slide-content">
              <div class="row">
                <div class="col-md-4 col-md-offset-2"><img src="img/slides/slide4.png" alt="Slide 1" data-animate-in="bounceInLeft" data-animate-delay="de-08" /></div>
                <div class="col-md-4 col-md-offset-1 caption">
                  <h2 data-animate-in="bounceInRight">PBX</h2>
                  <h4 data-animate-in="bounceInRight" data-animate-delay="de-02" translate>SLIDE_3_TITLE_2</h4>
                  <p data-animate-in="bounceInRight" data-animate-delay="de-04">
                    <translate>FILLER_TEXT</translate><br/>
                    <translate>FILLER_TEXT</translate>
                    <translate>FILLER_TEXT</translate>
                  </p>
                  <a href="#/pricing" class="btn btn-lg btn-primary" data-animate-in="bounceInRight" data-animate-delay="de-06" translate>BUTTON_SEEMORE</a> </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>