<!--Hidden Header Region-->
<div class="header-hidden">
  <div class="header-hidden-inner container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <h3>About Us</h3>
        <p><translate>FILLER_TEXT</translate></p>
        <a href="#/about_us" class="btn btn-sm btn-primary" translate>BUTTON_SEEMORE</a> </div>
      <div class="col-sm-4 col-md-4"> 
        <h3>Contact Us</h3>
        <address>
        <p><abbr title="Phone"><i class="icon-phone"></i></abbr> 111 1111</p>
        <p><abbr title="Email"><i class="icon-envelope"></i></abbr> info@celero.com</p>
        <p><abbr title="Address"><i class="icon-home"></i></abbr> Dirección, Address.</p>
        </address>
      </div>
      <div class="col-sm-4 col-md-4"> 
        <div class="colour-switcher">
          <h3>Demo</h3>
          <a href="#red" class="red active" data-toggle="tooltip" data-placement="bottom" data-original-title="Red (Default)">Red</a>
          <a href="#green" class="green" data-toggle="tooltip" data-placement="bottom" data-original-title="Green">Green</a>
          <a href="#blue" class="blue" data-toggle="tooltip" data-placement="bottom" data-original-title="Blue">Blue</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Logo & language-->
<div class="header">
  <div class="header-inner container">
    <div class="row">
      <div class="col-md-8">
        <a class="navbar-brand" href="#/main" title="Home">
        <img class="logo" src="img/logos/celero_logo.png">
        </a>
        <div class="slogan" translate>LANGUAGE</div>
        <div class="flags">
          <img ng-click="changeLanguage('es_pa')" src="img/flags/pa.png">
          <img ng-click="changeLanguage('en_US')" src="img/flags/us.png">
        </div>
      </div>
      
      <!--header rightside-->
      <div class="col-md-4"> 
        <!--social media icons-->
        <div class="social-media"> 
          <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class="icon-google-plus"></i></a> </div>
      </div>
    </div>
    <div id="header-hidden-link"> 
      <a class="show-hide" data-toggle="show-hide" data-target=".header-hidden">
        <i></i>Open
      </a> 
    </div>
  </div>
</div>