<div id="content">
  <div class="container"> 
    <div class="block features">
      <div class="col-md-12">
        <h3 class="title-divider"><span><translate>MAIN_CORE_FEATURES_TITLE_1</translate> <span class="de-em" translate>MAIN_CORE_FEATURES_TITLE_2</span></span></h3>
        <div class="tabbable tabs-left vertical-tabs bold-tabs row">
          <ul class="nav nav-tabs nav-stacked col-sm-4 col-md-4">
            <li class="active"> 
              <a href="#tab1" data-toggle="tab">
                <translate>MAIN_CORE_FEATURES_1_TITLE_1</translate>
                <translate>MAIN_CORE_FEATURES_1_TITLE_2</translate>
                <small>Rhoncus adipiscing magna</small>
                <i class="icon-angle-right"></i>
              </a> 
            </li>
            <li> 
              <a href="#tab2" data-toggle="tab">
                <translate>MAIN_CORE_FEATURES_2_TITLE_1</translate>
                <translate>MAIN_CORE_FEATURES_2_TITLE_2</translate>
                <small>Rhoncus adipiscing magna</small>
                <i class="icon-angle-right"></i>
              </a> 
            </li>
            <li> 
              <a href="#tab3" data-toggle="tab">
                <translate>MAIN_CORE_FEATURES_3_TITLE_1</translate>
                <translate>MAIN_CORE_FEATURES_3_TITLE_2</translate>
                <small>Rhoncus adipiscing magna</small>
                <i class="icon-angle-right"></i>
              </a> 
            </li>
            <li> 
              <a href="#tab4" data-toggle="tab">
                <translate>MAIN_CORE_FEATURES_4_TITLE_1</translate>
                <translate>MAIN_CORE_FEATURES_4_TITLE_2</translate>
                <small>Rhoncus adipiscing magna</small>
                <i class="icon-angle-right"></i>
              </a> 
            </li>

          </ul>
          <div class="tab-content col-sm-8 col-md-8">
            <div class="feature tab-pane active col-sm-12 col-md-12" id="tab1"> <img src="img/features/feature-1.png" alt="Feature 1" class="img-responsive" />
              <h3 class="title visible-phone">
                <translate>MAIN_CORE_FEATURES_1_TITLE_1</translate>
                <translate>MAIN_CORE_FEATURES_1_TITLE_2</translate>
              </h3>
              <!--only show on mobile when tabs are open-->
              <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
            </div>
            <div class="feature tab-pane col-sm-12 col-md-12" id="tab2"> <img src="img/features/feature-2.png" alt="Feature 2" class="img-responsive" />
              <h3 class="title visible-phone">
                <translate>MAIN_CORE_FEATURES_2_TITLE_1</translate>
                <translate>MAIN_CORE_FEATURES_2_TITLE_2</translate>
              </h3>
              <!--only show on mobile when tabs are open-->
              <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
            </div>
            <div class="feature tab-pane col-sm-12 col-md-12" id="tab3"> <img src="img/features/feature-3.png" alt="Feature 3" class="img-responsive" />
              <h3 class="title visible-phone">
                <translate>MAIN_CORE_FEATURES_3_TITLE_1</translate>
                <translate>MAIN_CORE_FEATURES_3_TITLE_2</translate>
              </h3>
              <!--only show on mobile when tabs are open-->
              <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
            </div>
            <div class="feature tab-pane col-sm-12 col-md-12" id="tab4"> <img src="img/features/feature-4.png" alt="Feature 4" class="img-responsive" />
              <h3 class="title visible-phone">
                <translate>MAIN_CORE_FEATURES_4_TITLE_1</translate>
                <translate>MAIN_CORE_FEATURES_4_TITLE_2</translate>
              </h3>
              <!--only show on mobile when tabs are open-->
              <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  