<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col">
        <div class="block contact-block"> 
          <h3>Contact Us</h3>
          <address>
          <p><abbr title="Phone"><i class="icon-phone"></i></abbr> 111 1111</p>
          <p><abbr title="Email"><i class="icon-envelope"></i></abbr> info@celero.com</p>
          <p><abbr title="Address"><i class="icon-home"></i></abbr> Dirección, Address</p>
          </address>
        </div>
      </div>
      <div class="col-md-5 col">
        <div class="block">
          <h3>Tema/Topic</h3>
          <p>
            <translate>FILLER_TEXT</translate>
            <translate>FILLER_TEXT</translate>
          </p>
        </div>
      </div>
      <div class="col-md-4 col">
        <div class="block">
          <h3>Tema/Topic</h3>
          <p translate>FILLER_TEXT</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="toplink">&nbsp;
      </div>
      <div class="subfooter">
        <div class="col-md-6">
          <p>Celero Networking | <translate>COPYRIGHT</translate> 2013 &copy;</p>
        </div>
      </div>
    </div>
  </div>
</footer>