<div id="content">
  <div class="container"> 
    <div class="block features">
      <div class="col-md-12">
        <h3 class="title-divider"><span translate>SERVICES_TITLE</span></h3>
        <div class="tabbable tabs-left vertical-tabs bold-tabs row">
          
          <ul class="nav nav-tabs nav-stacked col-sm-4 col-md-4">
            <li class="active"> 
              <a href="#tab1" data-toggle="tab">
                <translate>SUPPORT_1_TITLE</translate>          
                <i class="icon-angle-right"></i>
              </a> 
            </li>
            <li> 
              <a href="#tab2" data-toggle="tab">
                <translate>SUPPORT_2_TITLE</translate>
                <i class="icon-angle-right"></i>
              </a> 
            </li>
            <li> 
              <a href="#tab3" data-toggle="tab">
                <translate>SUPPORT_3_TITLE</translate>
                <i class="icon-angle-right"></i>
              </a> 
            </li>
          </ul>

          <div class="tab-content col-sm-8 col-md-8">
            <div class="feature tab-pane active col-sm-12 col-md-12" id="tab1">
              <h3 class="title visible-phone">
                Tab 1
              </h3>
              <!--only show on mobile when tabs are open-->              
              <p translate>FILLER_TEXT</p>
              <p translate>FILLER_TEXT</p>
              <p translate>FILLER_TEXT</p>
            </div>
            <div class="feature tab-pane col-sm-12 col-md-12" id="tab2">
              <h3 class="title visible-phone">
                Tab 2
              </h3>
              <!--only show on mobile when tabs are open-->
              <p translate>FILLER_TEXT</p>
              <p translate>FILLER_TEXT</p>
            </div>
            <div class="feature tab-pane col-sm-12 col-md-12" id="tab3">
              <h3 class="title visible-phone">
                Tab 3
              </h3>
              <!--only show on mobile when tabs are open-->
              <p translate>FILLER_TEXT</p>
              <p translate>FILLER_TEXT</p>
              <p translate>FILLER_TEXT</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  